<h3>Create Employee</h3>
<div style="width: 400px;">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="user.nombre" name="nombre">
    </div>

    <div class="form-group">
      <label for="name">Apellido</label>
      <input type="text" class="form-control" id="apellido" required [(ngModel)]="user.apellido" name="apellido">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>


</div>

<button class="btn btn-success" (click)="add()">Add</button> <!-- Llamo a la funcion -->

