<h3>Details Employee</h3>
<div style="width: 400px;">

    <div class="form-group">
      <label for="name">Nombre: &nbsp; </label>
      <label> {{ User.nombre }} </label>
    </div>

    <div class="form-group">
      <label for="name">Apellido: &nbsp;</label>
      <label> {{ User.apellido }} </label>
    </div>

    <div class="form-group">
      <label for="name">Email: &nbsp;</label>
      <label> {{ User.email }} </label>
    </div>
</div>

<button class="btn btn-success" routerLink="../../">Volver</button> <!-- Llamo a la funcion -->


